<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>search-list</title>
    <link rel="stylesheet" href="./assets/mui/css/mui.min.css" />
    <link rel="stylesheet" href="./assets/mui/css/iconfont.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/search-list.css" />
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./assets/mui/js/mui.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/search-list.js"></script>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <a href="search.html" class="mui-icon mui-icon-back mui-pull-left"></a>
        <h1 class="mui-title">搜索中心</h1>
    </header>
    <div id="refresh">
        <div>
            <div class="mui-row filter">
                <div class="mui-col-xs-6" id="priceSort">
                    价格
                    <span class="mui-icon mui-icon-arrowdown"></span>
                </div>
                <div class="mui-col-xs-6" id="productSort">
                    销量
                    <span class="mui-icon mui-icon-arrowdown"></span>
                </div>
            </div>
            <div class="product">
                <ul class="list mui-clearfix" id="proDetail">
                    <!-- <li>
                    <a href="javascript:;">
                        <img src="images/product.jpg">
                        <span class="name">
                            adidas阿迪达斯 男式 场下休闲篮球鞋S83700
                        </span>
                        <p>
                            <span>¥560.00</span>
                            <span>¥888.00</span>
                        </p>
                        <button class="buy-now">立即购买</button>
                    </a>
                </li> -->
                </ul>
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab ">
        <a class="mui-tab-item" href="index.html">
            <span class="mui-icon mui-icon-navigate"></span>
            <span class="mui-tab-label muitab">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label muitab">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon iconfont icon-gouwuche"></span>
            <span class="mui-tab-label muitab">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-contact"></span>
            <span class="mui-tab-label muitab">会员中心</span>
        </a>
    </nav>

    <script id="productTpl" type="text/template">
		<% for(var i=0;i< data.length;i++){ %>
                <li>
                    <a href="product.html?id=<%=data[i].id %>">
                        <img src="<%=data[i].pic[0].picAddr %> ">
                        <span class="name">
                            <%= data[i].proName; %>
                        </span>
                        <p>
                            <span>¥<%=data[i].price; %></span>
                            <span>¥<%=data[i].oldPrice; %></span>
                            <span>库存<i><%=data[i].num; %></i>件</span>
                        </p>
                        <a href="product.html?id=<%=data[i].id %>" class="buy-now">立即购买</a>
                    </a>
                </li>
        <% } %>        
    </script>

</body>

</html>